.time-flash {
  text-align: center;
  margin-top: 15px;
}

.time-flash-notice {
  color: #40c414;
}

.time-flash-alert {
  color: #DC3445;
}

.registration-field {
  height: 35px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 0 10px;
}

.time-field {
  width: 250px;
}

.pulldown-registration {
  width: 270px;
}

.jump-to-new-watch-path {
  text-align: center;
}

.jump-new-watch {
  font-size: 16px;
  color: #000000;
  margin: 10px;
}