.stop-watch {
  margin: 50px auto;
  display: flex;
  align-items: center;
}

#time {
  font-size: 36px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin: 0 40px;
}

#start {
  background-color: #4A3094;
}

#start:hover {
  background: #A653C2;
}

#lap {
  background-color: #000000;
}

#lap:hover {
  opacity: 0.3;
}

.btn:focus {
  outline: 0;
}

.inactive {
  opacity: 0.3;
}

.table {
  margin: 50px 0 20px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

table th {
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #4A3094;
}

table td {
  height: 33px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
}

.date {
  width: 120px;
}

.time {
  width: 160px;
}

.name {
  width: 150px;
}

.event {
  width: 140px;
}

.distance {
  width: 140px;
}

.table-edit {
  width: 40px;
}

.data-pulldown {
  max-width: 138px;
  height: 32px;
  font-size: 14px;
  border: none;
}

#watch-edit {
  width: 15px;
  filter: invert(50%);
  vertical-align: middle;
}

.pagination{
  padding:1em 2em 1em;
  display:flex;
  justify-content:center;
}

.kaminari{
  width:50px;
  height:50px;
  margin:2px;
  line-height:50px;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#000000;
  transition:.3s;
}

.kaminari {
  display: block;
}

.page:hover, .first:hover, .prev:hover, .next:hover, .last:hover{
  background-color: #4A3094;
  border-radius: 100%;  
}

.page:hover .kaminari, .first:hover .kaminari, .prev:hover .kaminari, .next:hover .kaminari, .last:hover .kaminari {
  color: #ffffff;
}

.current{
  width:50px;
  height:50px;
  margin:2px;
  line-height:50px;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color: #ffffff;
  background-color: #4A3094;
  border-radius:100%;
}

.gap{
  background:none;
}

.right-side-wrapper {
  margin-left: 20px;
  border-top: 1px solid #EAEAEA; 
}

.right-each-registration {
  margin: 20px 0;
}

.right-each-registration h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.right-each-registration p {
  font-size: 14px;
  margin-bottom: 5px;
}

.registration-input {
  width: 100px;
  height: 20px;
  margin-right: 10px;
  font-size: 12px;
  padding: 0 5px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

.registration-button {
  width: 50px;
  color: #FFFFFF;
  background-color: #4A3094;
  border: none;
  border-radius: 5px;
}

.right-anywhere-path {
  border-top: 1px solid #EAEAEA;
}

.to-messages-path {
  color: #000000; 
  padding-top: 40px;
}

.export-csv {
  color: #000000;
}

.watch-delete {
  width: 20px;
}