<div class="create-threads">
  <%= image_tag "plus.png", alt: "スレッドを作成する", class: "create-img" %>
  <%= link_to "スレッドを作成する", rooms_path, method: :post, class: "create-button" %>
</div>
<div class="index-threads">
  <div class="threads-flex">
    <%= image_tag "toggle.png", alt: "スレッド一覧", class: "create-img" %>
    <p class="show-threads">スレッド一覧</p>
  </div>
  <ul>
    <li class="thread-name">sample</li>
    <li class="thread-name">lorem-ipsum</li>
  </ul>
</div>