<%= render "shared/second_header.html.erb" %>

<div class="wrap">
  <div class="left-side">
    <%= render "side_bar.html.erb" %>
  </div>

  <div class="main">
    <%= render "main.html.erb" %>
  </div>
</div>

<%= render "shared/footer.html.erb" %>