<%= render "shared/second_header.html.erb" %>

<div class="title">
  <h1>Welcome to Ac<span class="t">T</span>ime!</h1>
</div>
<div class="two-square">
    <%= link_to("スレッドを作成する", "#", class: "text") %>
    <%= link_to("スレッドを選ぶ", "#", class: "text") %>
</div>

<%= render "shared/footer.html.erb" %>