.follow-or-follower-lists {
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  padding-bottom: 20px;
}

.follow-or-follower-lists h1 {
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
}

.follow-or-follower-users-list {
  font-size: 18px;
  margin-bottom: 30px;
}

.follow-or-follower-users-list p {
  font-size: 14px;
  padding: 0;
}

.following-lists {
  padding: 5px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin: 10px 30px;
  
}

.users-path {
  color: #000000;
  text-decoration: none;
}

.users-path-info {
  display: flex;
  margin-bottom: 5px;
}

.users-path-info h3 {
  width: 60%;
}

.users-path-info p {
  width: 40%;
  text-align: right;
  margin-top: 5px;
}