.sign-in {
  width: 100%; 
}

.user-session {
  width: 500px;
  background-color: #dde1ec;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  margin: 55px auto 0;
}

.user-session h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}

.jump-to-registration-path {
  text-align: center;
}

.jump-registration {
  font-size: 16px;
  color: #000000;
}