.sign-up {
  width: 100%;
  
}

.user-registration {
  width: 600px;
  height: 70%;
  background-color: #dde1ec;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  margin: 55px auto 0;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding-top: 30px;
}

.field{
  margin-top: 60px;
  text-align: right;
}

.label {
  font-size: 24px;
  margin-right: 40px;
}

.enter {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 10px;
  float: right;
  padding: 0 10px;
  margin-right: 30px;
}

.actions {
  text-align: center;
  margin: 60px 60px 0;
}

.button {
  width: 150px;
  height: 50px;
  color: #ffffff;
  font-size: 24px;
  border: none;
  border-radius: 80px;
  margin-bottom: 50px;
  background-color: #6d61fa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.jump-to-session-path {
  margin: 40px;
  text-align: center;
}

.jump-session {
  font-size: 20px;
  color: #000000;
}