.sign-up {
  width: 100%;
}

.user-registration {
  width: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 55px auto 0;
}

.user-registration h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}

.field{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  width: 260px;
  font-size: 16px;
  align-items: flex-start;
  margin-bottom: 5px;
}

.enter {
  width: 250px;
  height: 35px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 0 5px;
}

.actions {
  text-align: center;
  margin: 30px;
}

.button {
  width: 120px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 10px 0 40px;
  background-color: #4A3094;
}

.jump-to-session-path {
  text-align: center;
}

.jump-session {
  font-size: 16px;
  color: #000000;
}