.select-users {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  padding-bottom: 20px;
}

.select-users h1 {
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
}

.many-users {
  font-size: 18px;
  margin-bottom: 30px;
}

.many-users p {
  font-size: 14px;
  padding: 0;
}

.no-user {
  font-size: 14px;
  padding: 0;
  text-align: center;
}

.result-user {
  padding: 5px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin: 10px 30px; 
}