.user-infomation {
  width: 100%; 
}

.infomation-user {
  width: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 55px auto 0;
}

.infomation-user h1 {
  font-size: 24px;
  text-align: center;
  padding: 50px 0 20px;
}

.user-identification-info {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
}

.user-identification-info h3 {
  width: 40%;
  text-align: right;
  float: left;
  margin-right: 30px;
}

.follow-follower-lists {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
  font-size: 16px;
}

.users-link {
  color: #000000;
  font-size: 16px;
}

.follow-follower {
  margin: 0 10px 20px;
}


.follow-form {
  display: flex;
  justify-content: center;
}

.follow-btn {
  width: 140px;
  height: 50px;
  font-size: 14px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-danger {
  background-color: #DC3445;
}

.btn-primary {
  background-color: #4A3094;
}

.flash-message {
  height: 20px;
  text-align: center;
}

.user-destroy {
  padding: 15px 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #DC3445;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}