/* deviseエラー画面 */
#error_explanation h2 {
  font-size: 16px;
  color: #ff0000;
  text-align: center;
}

#error_explanation ul li {
  font-size: 16px;
  color: #ff0000;
  margin-left: 20px;
}

/* devise以外のエラー画面 */
.error-messages {
  font-size: 16px;
  color: #ff0000;
  margin-left: 20px;
}