.update-form {
  background-color: #DDE1EC;
  width: 900px;
  margin: auto;
  border-radius: 20px;
}

.thread-info {
  font-size: 42px;
  text-align: center;
  color: #4b4b4b;
  margin-top: 50px;
}

.thread-created {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.thread-created h3 {
  font-size: 30px;
  color: #4b4b4b;
  margin-right: 30px;
  width: 30%;
  text-align: right;
}

.thread-created p {
  width: 400px;
  color: #4b4b4b;
  padding: 0 10px;
  font-size: 30px;
}

.update-thread-info {
  text-align: center;
}

.update-btn {
  width: 250px;
  height: 75px;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 50px;
  border: none;
  border-radius: 80px;
  background-color: #6d61fa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}