<header class='top-page-header'>
  <%= link_to image_tag("logo.png", class:"icon"), "/" %>

  <div class="user-content">
    <%= link_to(current_user.username+"さん", user_path(current_user.public_uid), class: "username") %>
    <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "log") %>
  </div>
</header>