<%= render "shared/header.html.erb" %>
<div class="title">
  <h1>Welcome to Ac<span class="t">T</span>ime!</h1>
</div>
<div class="two-square">
    <%= link_to("メッセージを送る", "#", class: "text") %>
    <%= link_to("タイムを測る", "#", class: "text") %>
</div>

<%= render "shared/footer.html.erb" %>