<div class="errors">
  <h1>お探しのページが見つかりません</h1>
  <div class="error-message">
    <p>申し訳ございません。<br>アクセスしようとしたページが見つかりませんでした。</p>
    <%= link_to("トップへ戻る", root_path, class: "log") %>
  </div>
</div>

