<%= render "shared/second_header.html.erb" %>

<div class="select-threads">
  <h1 class="h1-text">スレッド一覧</h1>
  <div class="many-threads">
    <a src="#">sample thread</a></br>
    <a src="#">sample thread</a></br>
    <a src="#">sample thread</a>
  </div>
</div>

<%= render "shared/footer.html.erb" %>