.wrap {
  display: flex;
}


.left-side {
  width: 18vw;
  height: calc(100vh - 120px);
  background-color: #DDE1EC;
  font-size: 28px;
}

.create-threads {
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
}

.create-img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
}

.create-button {
  text-decoration: none;
  color: #4b4b4b;
}

.index-threads {
  margin-top: 30px;
}

.threads-flex {
  display: flex;
  margin-left: 20px;
}

.show-threads {
  padding: 0;
  color: #4b4b4b;
}

.thread-name {
  color: #4b4b4b;
  margin-top: 10px;
  margin-left: 80px;
  list-style-type: disc;
}

.main {
  width: calc(100vw - 18vw);
  height: calc(100vh - 120px);
  background-color: #f7f7fe;
}

.main-message {
  height: calc(100vh - 200px);
}

.menu-img {
  text-align: right;
}

.img-tag {
  width: 50px;
  margin: 30px;
}

.send-message {
  display: flex;
}

.send-form {
  margin: 0 auto 30px;
  display: flex;
}



.send-input {
  width: 70vw;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  
  resize: none;
  /* 入力した高さによってjsで調整 */
}

.submit {
  width: 5vw;
  height: 55px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #6D61FA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}